/* hoja de estilos del master de css, proyecto 1, portafolio profesional */
/* hoja de estilos comunes a todas las páginas */

/* reseteo de margin y padding, quitar estilo de los enlaces */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}
/* variables de colores */
:root {
    /* colores principales en las web */
    --color-principal: #fff;
    --color-azul: #04B4E0;
    --color-bg: #f0f4f6;
    /* colores para las fuentes */
    --color-titulo: #000;
    --color-subtitulo: #888;
    --color-texto: #555;
    /* colores para los iconos */
    --color-iconos: #b5b6b7;
}
html {
    font-size: 10px;
}
body {
    /*hace que el scroll sea suavizado*/
    scroll-behavior: smooth;
    /* definir el la fuente:family, size y color */
    font-family: "poppins";
    font-size: 1.5rem;
    color: var(--color-texto);
    /* cuanto va a ocupar el body */
    width: 100%;
    height: auto;
    /* color de fondo del body */
    background: var(--color-bg);
    background-image: url(../assets-proyecto1/img/fondo.png);
    background-size: cover;
    /* para que no tengan scroll la página  */
    overflow: hidden;
}
h1 {
    color: var(--color-titulo);
}
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-subtitulo)
}
.nav_icon {
    color: var(--color-iconos);
}
.nav_icon:hover{
    color:var(--color-azul);
    font-size: 1.2em;
}
.rrss_icon {
    color: var(--color-principal);
}

.layout {
    position: relative;
    width: 75%;
    height: 80vh;
    margin: 10vh auto;
/* definir el grid */
display: grid;
    grid-template-columns: 25% 70% 5%;
    grid-template-areas: "header section nav";
/* border radius y sombra  */
border-radius: 4rem;
box-shadow: 0 0 100px rgba(0, 0, 0,0.25);
}
main{
    grid-area: main;
}
nav{
    grid-area:nav;
}
header{
    grid-area: header;
    background-color: var(--color-azul);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4rem 0 0 4rem;
    /* para poner un scroll dentro de una zona*/
    /******* overflow: scroll;******/
    /* fin de la propiedad  */
    
}

.cabecera__imagen{
    width: 18rem;
    margin-top: 7%;
    background-color: var(--color-principal);
    border: 3px solid var(--color-principal);
    border-radius: 20rem;
    /* z-index: 2; */
}
.cabecera__circulo{
    z-index: 1;
}
.cabecera__circulo::after{
    content: "";
    position: absolute;
    top:12%;
    left: 7%;
    z-index: -1;
    width: 15%;
    height: 30%;
    background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    border-radius: 30rem;
}
.principal{
    grid-area: section;
}
.cabecera__nombre,
.cabecera__profesion,
.boton__enlace{
    color:var(--color-principal);
}
.cabecera__nombre{
    margin-top: 2.6rem;
}
.boton__enlace{
    border:3px solid var(--color-principal);
    border-radius: 4rem;
    box-shadow: 1px 1px 1px var(--color-principal);
    padding: 2rem;
}
.boton__enlace:hover{
    background-color: var(--color-principal);
    color: var(--color-azul);
    box-shadow:   0 0 5px rgba(0, 0, 0,0.5);
    transition: all 500ms ease-in-out;
}
.rrss_icon{
    opacity: 0.7;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}
.rrss_icon:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 300ms ease-in;
}
.principal{
    background-color: var(--color-azul);
}
.principal_contenido{
    background-color: var(--color-principal);
    min-height: 100%;
    border-radius: 4rem 0 0 4rem;
}
ul{
    border-radius: 4rem;
    box-shadow: 0 0 100px rgba(0, 0, 0,0.25);
}
li{
    padding: 1.5rem;
}
.nav__overlay{
    position: absolute;
    right: 0;
    margin-top: -3rem;
    padding: 0.5rem 1rem;
    display: block;
    opacity:0;
white-space:nowrap;
    color:var(--color-principal);
    background-color: var(--color-azul);
}
li:hover .nav__overlay{
    opacity: 1;
    width:10%;
}