/* hola de estilos especifica de la página estudios.html */
/* variables de colores */
:root {
    /* colores principales en las web */
    --color-principal: #fff;
    --color-azul: #04B4E0;
    --color-bg: #f0f4f6;
    /* colores para las fuentes */
    --color-titulo: #000;
    --color-subtitulo: #888;
    --color-texto: #555;
    /* colores para los iconos */
    --color-iconos: #b5b6b7;
    /* colores para las reseñas */
    --color-borde-review: #e5e6e7;
    --color-company: #a5a6a7;
}

.principal {
    /* hacer que el scroll de la web esté solo en la caja blanca que es la section */
    overflow: scroll;
    background-color: #fff;
}

.principal_contenido {
    padding: 5% 5%;
    border-radius: 4rem 0 0 4rem;
}

.resumen_title {
    padding-bottom: 5%;
    font-size: 3rem;
}

.resumen__columnas {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 2%;
}

.resumen_titulo {
    margin: 5% 0;
    font-size: 2.5rem;
    grid-area: titulo;
}

.resumen_subheader {
    display: inline-block;
    padding-right: 1.2rem;
    margin-bottom: 2.5rem;
    position: relative;

}

.resumen_subtitulo {
    font-size: 2.1rem;
    color: var(--color-titulo);
}

.resumen_subtitulo::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 0px;
    width: 30px;
    height: 20px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-azul), var(--color-azul) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    opacity: 0.5;
}
.resumen__contenedor{
    width: 100%;
    display: flex;
    flex-direction: row;
}
/* columna de la izquierda */
.resumen__izquierda{
    flex-basis: 58%;
margin-right: 1.5rem;
}
.resumen__timelines{
    margin-bottom: 5rem;
}
.timelines__item{
    position: relative;
    width: 100%;
margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
}
.timeline__header{
    flex-basis: 30%;
    text-align: right;
    padding-right: 2.5rem;
}
.timeline__year{
    color:var(--color-titulo);
    margin:0.3rem 0px;
    line-height: 1.9rem;
    font-size: 1.4rem;
}

.timeline__company{
    display: block;
    font-size: 1.3rem;
    font-weight: 300;
    color:var(--color-company);

}
.timeline__description{
    width: 70%;
    padding-left: 2.5rem;
    padding-right: 1.5rem;

}
.timeline__title{
    color:var(--color-titulo);
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
    
}
.timeline__text{
    font-size: 1.4rem;
margin-bottom: 1rem;

}
/* columna de la derecha */
.resumen__derecha{
    flex-basis: 41%;
}