/* proyecto 1 del master en css, portafolio profesional */
/* hoja de estilos especificos de la pagina de inicio */
.principal_contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.principal__titulo-h2{
    font-size: 5rem;
    color: var(--color-texto);
    padding: 2rem;
}
.principal__subtitulo-h3{
    font-size: 2rem;
    color: var(--color-texto);
}