/* esta es la hoja especifica para el estilo de la página sobre-mi.html */
.principal {
    /* hacer que el scroll de la web esté solo en la caja blanca que es la section */
    overflow: scroll;
}

.principal_contenido {
    padding: 5% 5%;
}

.presentacion__titulo {
    padding-bottom: 5%;
    font-size: 3rem;
}

.presentacion_columnas {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 2%;
}

.presentacion__lista {
    box-shadow: none;
    list-style: none;
}

.presentacion__item {
    padding: 0.4rem;
}

.__titulo--azul, .dato--azul {
    color: var(--color-azul);
}

.hago__titulo {
    margin: 5% 0;
    font-size: 2.5rem;
    grid-area: titulo;
}

.hago_icon {
    font-size: 4rem;
    color: var(--color-azul);
}

.hago {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5%;
    grid-template-areas:"titulo titulo"
                        "programacion formacion"
                        "desarrollo admin";
}

.hago__subtitulo {
    font-size: 2rem;
    color: var(--color-titulo);
}
.hago_programacion{
    grid-area: desarrollo;
}
.hago_administracion{
    grid-area: admin;
}
.opiniones{
    margin-top: 15%;
    font-size: 2.5rem;
}
.opinion{
    font-size: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5%;
    grid-template-areas: "opi1 opi2";
}
.opinion_contenedor1{
    grid-area: opi1;
   
}
.opinion_contenedor2{
    grid-area: opi2;
   
}
.opinion-author{
    font-size: 1.5rem;
}